body{
    margin: 0px;
    padding: 0px;
    background-image: url(Images/background\ photo.jpg);
    color: antiquewhite;
}
.left{
    /* border: 3px solid red; */
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 20px;
}
.mid{
    /* border: 3px solid green; */
    display: block;
    margin: 20px auto;
    width: 50%;
}
.right{
    /* border: 3px solid yellow; */
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
}
.left img{
    width: 85px;
    height: 50px;
    filter:invert(100%);
    text-align: center;
}
.mid li{
    display: inline-block;
}
.mid li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 40px;
    margin: 50px 10px;
    padding: 10px;
    top: 20px;
}
.mid li a:hover{
    color: tomato;
    text-decoration: underline;
}
.btn{
    border-radius: 50px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(220, 230, 232);
}
.container{
    border: 3px solid red;
    display: inline-block;
    position: absolute;
    border-radius: 30px;
    margin: 100px;
    padding: 45px;
    /* font-size: 30px; */
    width: 500px;
}
.form-group input{
    margin: 5px auto;
    text-align: center;
    width: 350px;
    height: 35px;
    display: block;
    border-radius: 30px;
}
.container h1{
    text-align: center;
    color: tomato;
    font-size: 40px;
}
.container button{
    display: block;
    /* width: 25px; */
    margin: auto;
}

